<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>和の庭(wa no Niwa)</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap" rel="stylesheet">">
    <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css">
    <link rel="stylesheet" href="index-style.css">
    <link rel="stylesheet" href="all-style.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="menu.html">Menu</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="location.html">Location</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
            <ol class="breadcrumbs">
                <li><a href="#">Home</a></li>
            </ol>
        </nav>
    </header>
    <div class="container">
        <main>
            <p>たくさんの客様にご来店いただき、誠にありがとうございます。<br>伝統的な和食にフォーカスし、
                刺身、寿司、天ぷら、懐石料理など、日本の季節や食材に合わせたメニューを用意し、<br>
                料理の美しさと味わいをご提供します
            </p>
            <article>
                <h3>最新情報</h3>
                <section>
                    <h4>xx年xx月xx日</h4>
                    <p>ここにお知らせが入ります。</p>
                </section>
                <section>
                    <h4>xx年xx月xx日</h4>
                    <p>ここにお知らせが入ります。</p>
                </section>
                <section>
                    <h4>2022年10月1日</h4>
                    <p>和の庭がオープンしました。</p>
                </section>
            </article>
            <article>
                <h3>店舗情報</h3>
                <table>
                    <tr>
                        <th>住所</th>
                        <td>岩手県盛岡市中央3-2-17</td>
                    </tr>
                    <tr>
                        <th>営業時間</th>
                        <td>11:00 - 20:00 ※不定休</td>
                    </tr>
                    <tr>
                        <th>電話番号</th>
                        <td>019-622-1500</td>
                    </tr>
                </table>
            </article>
        </main>
        <aside>
            ここはバナーや関連情報が入ります。
            <div class="timeline">
                <a class="twitter-timeline" href="https://twitter.com/morijyobi_olive?ref_
                src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" date-height="300px">Tweets by
            morijyobi_olive</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="UTF-8"></script>
            </div>
        </aside>
    </div>
    <footer>
        ここはフッター部です
        企業情報やコピーライトなどが入ります
        <p> &copy; 2023 Morijyobi. All rights reserved.</p>
    </footer>
</body>

</html>